<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{block "meta" .}}
        <meta property="og:title" content="Contra Design">
        <meta property="og:description" content="">
        <meta property="og:image" content="dist/img/">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="628">
        <meta property="og:url" content="https://contra-design.com">

        <title>Contra Design | Web Design North West</title>
    {{end}}

    <link rel="stylesheet" href="/dist/app.css?id=3">
    <link rel="stylesheet" href="https://use.typekit.net/gqx0lln.css">
</head>
<body>
    <div id="app">
        {{template "content" .}}
    </div>
    <script src="/dist/app.js?id=2"></script>
</body>
</html>