$family-secondary: poynter-oldstyle-display;
$navbar-item-color: #FFF;
$navbar-item-hover-background-color: rgba(66, 85, 89,.7);
$navbar-dropdown-background-color: rgba(66, 85, 89,.7);

$card-background-color: rgba(0,0,0,0.8);
$card-shadow: 0 0 1px 0 rgb(255,255,255);

$primary: #425559;
$light-grey: #99aabf;
$mustard: rgb(195, 181, 121);
$seagreen: rgb(131, 167, 155);
$orange: rgb(240, 176, 0);
$coffee: rgb(44, 35, 28);
$skyblue: rgb(81, 108, 131);
$terracotta: rgb(234,76, 88);
$midbrown: rgb(75, 66, 58);


@import "node_modules/bulma/bulma.sass";
@import "~buefy/src/scss/buefy";


.hero {
  margin-bottom: -4rem;
  clip-path: polygon(0% 95%, 50% 100%, 100% 95%, 100% 0%, 50% 5%, 0% 0%);
  .section {
    .button {
      border-color: transparent;
      &:hover {
        opacity: .7;
      }
    }
    @include from($desktop) {
      padding: 3rem 8rem;
    }
  }
}

.hero-body {
  @include until($tablet) {
    padding-top: 20rem;
    padding-bottom: 3rem;
  }
}

li {
  line-height: 1.5rem;
  list-style-type: square;
  margin-left: 1rem;
}

.navbar {
  background-color: $primary;
}

.navbar-brand {
  margin-right: 3rem;
}

a.navbar-burger {
  &:hover {
      color: #FFF;
    background-color: rgba(10,10,10,.5);
  }
  background-color: rgba(10,10,10,.5);
}

.navbar-menu {
  @include until($desktop) {
    background-color: rgba(10,10,10,.5);

    .navbar-dropdown {
      a.navbar-item {
        font-size: 1rem;
      }
    }

    a.navbar-item {
      padding-left: 0.75rem;
      &:hover {
        color: #FFF;
      }
    }
  }
}

strong {
  color: currentColor;
  font-weight: bolder;
}

.hero.is-fullheight .hero-body.show {
  align-items: flex-end;
  h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }

  h2 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 1.7rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.columns:last-child {
  margin-bottom: 0;
  margin-top: 0;
}

html {
  background-color: black;
}

h1, h2 {
  font-family: cooper-black-std, serif;
  font-weight: 500;
  font-style: normal;
}

p {
  margin-bottom: 1rem;
}

section.section {
  @include from($tablet) {
    padding: 6rem 4rem 4rem 4rem;
  }
}

.responsive {
  background: url("/dist/img/bgrounds/responsive2-01.png") center center no-repeat;
  @include until($tablet) {
    background: url("/dist/img/bgrounds/mobile/responsive.png") center center no-repeat;
    background-size: cover;
  }
  background-size: cover;
  p, h1, h2 {
    color: $primary;
  }

  .button {
    background-color: $primary;
    color: #fff;
  }
}

.social {
  background: url("/dist/img/bgrounds/social.png") center center no-repeat;
  @include until($tablet) {
    background: url("/dist/img/bgrounds/mobile/social.png") center center no-repeat;
    background-size: cover;
  }
  background-size: cover;
  p, h1, h2 {
    color: $midbrown;
  }

  .button {
    background-color: $midbrown;
    color: #fff;
  }
}

.database {
  background: url("/dist/img/bgrounds/database.png") center center no-repeat;
  @include until($tablet) {
    background: url("/dist/img/bgrounds/mobile/database.png") center center no-repeat;
    background-size: cover;
  }
  background-size: cover;
  p, h1, h2 {
    color: $dark;
  }

  .button {
    background-color: $dark;
    color: #fff;
  }
}

.bespoke {
  background: url("/dist/img/bgrounds/bespoke.png") center center no-repeat;
  @include until($tablet) {
    background: url("/dist/img/bgrounds/mobile/bespoke.png") center center no-repeat;
    background-size: cover;
  }
  background-size: cover;
  p, h1, h2 {
    color: #FFF;
  }

  .button {
    background-color: $white;
    color: $primary;
   }
}

.seo {
  background: url("/dist/img/bgrounds/seo.png") center center no-repeat;
  @include until($tablet) {
    background: url("/dist/img/bgrounds/mobile/seo.png") center center no-repeat;
    background-size: cover;
  }
  background-size: cover;
  p, h1, h2 {
    color: $coffee;
  }

  .button {
    background-color: $coffee;
    color: #fff;
  }
}

.packages {
  background: url("/dist/img/bgrounds/packages.png") center center no-repeat;
  @include until($tablet) {
    background: url("/dist/img/bgrounds/mobile/packages.png") center center no-repeat;
    background-size: cover;
  }
  background-size: cover;
  p, h1, h2 {
    color: #FFF;
  }

  .button {
    background-color: $white;
    color: $skyblue;
  }
}

.contact {
  background: url("/dist/img/bgrounds/contact.png") center center no-repeat;
  @include until($tablet) {
    background: url("/dist/img/bgrounds/mobile/contact.png") center center no-repeat;
    background-size: cover;
  }
  background-size: cover;
  p, h1, h2 {
    color: $dark;
  }

  .button {
    background-color: $dark;
    color: #fff;
  }
}

.contact-info {
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/dist/img/bgrounds/") center center no-repeat;
  background-size: cover;
}

/* transition styling */

.fade-enter, .fade-leave-active {
   opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}
